#build {
    padding-left: 200px;
    padding-top: 50px;
}

#build button {
    cursor: pointer;
}

#buildinvContainer {
    width: 400px;
    float: left;
    min-height: 800px;
}

#build .buildSelectCatIcon {
    width: calc(100% / 11 - 2px);
    height: 34.36px;
    background-size: 34.36px;
    border: 1px black solid;
    cursor: pointer;
    display: inline-block;
}

#buildeq {
    margin-top: 50px;
    margin-left: 100px;
    width: 200px;
    float: left;
}

#buildaside {
    float: left;
    margin-left: 100px;
    width: calc(100% - 900px);
}

#buildinfo {
    width: calc(100% - 90px);
    min-width: 400px;
    min-height: 230px;
    background: #00000018;
    padding: 10px;
    border-radius: 90px;
    padding: 35px;
    font-size: 18px;
}

#buildconf {
    margin-top: 20px;
    width: calc(100% - 80px);
    min-width: 400px;
    min-height: 400px;
    background: #00000018;
    padding: 40px;
    border-radius: 90px;
    position: relative;
}

#buildfoot {
    clear: both;
}

#buildConfNav>* {
    width: calc(33% - 16px);
    margin: 0 0%;
}

#build .GUISlot {
    width: 66px;
    height: 86px;
    margin: 5px;
    float: left;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px #00000000 solid;
    position: relative;
}

#build .GUISlot:hover {
    border: 2px black solid;
}

#build .GUIItemImg {
    width: 70px;
    height: 70px;
    font-size: 15px;
    background-size: 70px;
    background-repeat: no-repeat;
}

#buildInfoDiv {
    font-size: 18px;
}

#buildInfoDiv h3 {
    margin: 5px 0;
}

#buildInfoDiv h4 {
    margin: 1px 0;
}

#buildEditDriffs label {
    margin-left: 15px;
}

#buildEditInfo:nth-child(2) {
    float: left;
}

.buildClose {
    font-size: 20px;
    border: 1px black solid;
    border-radius: 90px;
    background-color: rgba(200, 0, 0, .8);
}

#buildEditClose {
    position: absolute;
    top: 20px;
    right: 40px;
}

.buildClose:hover {
    background-color: rgba(200, 0, 0, 1);
}

#build .GUIDriffSlot {
    width: 26px;
    height: 26px;
    clip-path: circle(50% at 50% 50%);
    background-color: rgba(10, 10, 10, .5);
    bottom: 0;
    position: absolute;
}

#buildSaveLoad {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

#buildSave,
#buildLoad {
    border: 0;
    padding: 0;
    font-size: 20px;
    margin-bottom: 20px;
    width: calc(45% - 50px);
    padding: 5px 0;
    background-color: rgb(70, 200, 70);
    opacity: .75;
    border-radius: 90px;
}

#buildSave:hover,
#buildLoad:hover {
    opacity: .9;
}

#buildSave {
    margin-left: 50px;
    float: left;
}

#buildLoad {
    margin-right: 50px;
    float: right;
}

.buildDialogMessage {
    width: 100%;
    opacity: 0;
    position: absolute;
    margin-bottom: 20px;
    padding: 2px 5px;
    border: 1px black solid;
    background-color: darkslategrey;
}

.buildDriff {
    position: relative;
}

.buildDriffSlot {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
}

.buildDriffIcon {
    position: absolute;
    top: 6.5px;
    left: 6.5px;
    width: 13px;
}

#buildInvNavBItemy,
#buildInvNavBDriffy {
    margin: 0 5px;
    width: 190px;
    padding: 20px 10px;
    border: 0;
    float: left;
    background-color: rgba(10, 200, 10, .2);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#buildInvNavBItemy:hover,
#buildInvNavBDriffy:hover {
    background-color: rgba(10, 250, 10, .4);
}

#build .invGUIDriffSlot {
    margin: 5px;
    width: 36px;
    height: 36px;
    float: left;
    border-radius: 10px;
    border: 2px #0000 solid;
    position: relative;
    font-size: 11px
}

#build .invGUIDriffSlot:hover {
    border: 2px #000 solid;
}

#build .invGUIDriffSlot>div {
    position: absolute;
    z-index: 2;
}

#build .invGUIDriffSlot>div:nth-child(1) {
    top: 0;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

#build .invGUIDriffSlot>div:nth-child(2) {
    top: 7px;
    left: 7px;
    z-index: 1;
}

#build .invGUIDriffSlot>div:nth-child(3) {
    left: 0;
    bottom: 0;
    color: white;
}

#build .invGUIDriffSlot>div:nth-child(4) {
    right: -5px;
    bottom: 0;
    color: aqua;
}

#build .formbUp {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: black;
    width: 15px;
    height: 20px;
    margin: 2px;
}

#build .formbDown {
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: black;
    width: 15px;
    height: 20px;
    margin: 2px;
}

#build .formbUp:hover,
#build .formbDown:hover {
    background-color: goldenrod;
}

#buildEditStats h4 {
    margin: 0;
    padding: 0;
    font-size: .6em;
    position: relative;
}

#buildinfoStats img {
    height: 25px;
}

#buildinfoStats td {
    min-width: 50px;
}

#build .buildModifyItem {
    border-radius: 10px;
    background-color: rgb(33, 24, 105);
    color: rgb(231, 210, 210);
    width: 40px;
}
#build .buildModifyItem:hover {
    background-color: rgb(51, 39, 141);
}

#build .buildUpgradeItem {
    border-radius: 10px;
    background-color: rgb(85, 18, 18);
    color: rgb(231, 210, 210);
    width: 40px;
}
#build .buildUpgradeItem:hover {
    background-color: rgb(126, 24, 24);
}

#build .buildStatsPointsButton {
    background-color: #666;
    color: #ddd;
}

#build .buildStatsPointsButton:hover {
    background-color: #777;
    color: #ccc;
}